<div class="hospital-list-item">
  <h3>{{ staff?.firstName }} {{ staff?.lastName }}</h3>
  <p>ID: {{ staff?.id }}</p>
  <p>Department: {{ staff?.department }}</p>
  <p>Role: {{ staff?.role }}</p>
  <p>On Call: {{ staff?.isOnCall ? 'Yes' : 'No' }}</p>
</div>
<div class="hospital-list-item">
  <h3>{{ staff?.firstName }} {{ staff?.lastName }}</h3>
  <p>ID: {{ staff?.id }}</p>
  <p>Department: {{ staff?.department }}</p>
  <p>Role: {{ staff?.role }}</p>
  <p>On Call: {{ staff?.isOnCall ? 'Yes' : 'No' }}</p>
</div>
